Package: collectd-dev
Source: collectd
Version: 5.4.1-6
Architecture: all
Maintainer: Sebastian Harl <tokkee@debian.org>
Installed-Size: 328
Depends: collectd-core (>= 5.4.1-6), collectd-core (<< 5.5~)
Section: utils
Priority: optional
Homepage: http://collectd.org/
Description: statistics collection and monitoring daemon (development files)
 collectd is a small daemon which collects system information periodically and
 provides mechanisms to monitor and store the values in a variety of ways.
 Since the daemon doesn't need to startup every time it wants to update the
 values it's very fast and easy on the system. Also, the statistics are very
 fine grained since the files are updated every 10 seconds by default.
 .
 This package contains the development files needed to create your own
 plugins.
